In [15]:
from bs4 import BeautifulSoup as soup
import urllib3
import pandas as pd
import datetime

In [2]:
def make_soup(url):
    http = urllib3.PoolManager()
    website = http.request("GET", url) 
    return soup(website.data,'lxml')

In [9]:
links = pd.read_csv('jail_roster.csv')
links.head()

     state  location1                                        roster_link
0  Alabama     morgan                      97.82.20.116/jailinmates.aspx
1  Indiana      boone  https://jailtracker.com/jtclientweb/(S(3pzyks5...
2  Indiana    laporte  https://omsweb.public-safety-cloud.com/jtclien...
3  Indiana    pulaski  http://www.jailtracker.com/pcdc/pulaski_inmate...
4  Indiana  st joseph  https://omsweb.public-safety-cloud.com/jtclien...

In [33]:
rows = links.roster_link.str.contains('inmatelocator')
part_links = links.loc[rows]

In [39]:
for i in range(part_links.shape[0]):
    today = datetime.datetime.today().strftime('%Y-%m-%d')
    dic = []
    entry = part_links.iloc[i]
    state = entry['state']
    location1 = entry['location1']
    url = entry['roster_link']
    html = make_soup(url)
    dic.append({'state':state, 'location1':location1, 'date':today, 'html':str(html)})

In [41]:
pd.DataFrame.from_dict(dic)

,date,html,location1,state
0,2018-07-09,"<!DOCTYPE html>\n<html lang=""en"">\n<head>\n<me...",kings,California