In [1]:
from bs4 import BeautifulSoup as Soup
import pandas as pd
import datetime
import requests

## crawl

In [2]:
links = pd.read_csv('jail_roster.csv')
links.head()

     state  location1                                        roster_link
0  Alabama     morgan                      97.82.20.116/jailinmates.aspx
1  Indiana      boone  https://jailtracker.com/jtclientweb/(S(3pzyks5...
2  Indiana    laporte  https://omsweb.public-safety-cloud.com/jtclien...
3  Indiana    pulaski  http://www.jailtracker.com/pcdc/pulaski_inmate...
4  Indiana  st joseph  https://omsweb.public-safety-cloud.com/jtclien...

In [3]:
rows = links.roster_link.str.contains('inmatelocator')
part_links = links.loc[rows]
part_links

        state location1                                        roster_link
5  California     kings  http://inmatelocator.countyofkings.com/Inmate/...

In [16]:
for i in range(part_links.shape[0]):
    today = datetime.datetime.today().strftime('%Y-%m-%d')
    dic = []
    entry = part_links.iloc[i]
    state = entry['state']
    location1 = entry['location1']
    url = entry['roster_link']
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:61.0) Gecko/20100101 Firefox/61.0'}
    r = requests.get(url, headers = headers)

    content = r.content
    dic.append({'state':state, 'location1':location1, 'date':today, 'html':content})
    f = open('%s_%s_%s.txt' %(state, location1, today), 'wb' )
    f.write(content)
    f.close()

In [11]:
df = pd.DataFrame.from_dict(dic)
df

,date,html,location1,state
0,2018-07-11,"b'<!DOCTYPE html>\r\n<html lang=""en"">\r\n<head...",kings,California

## parse

In [36]:
content = open("California_kings_2018-07-11.txt", "rb").read()
content = str(content)

In [37]:
soup = Soup(content,'lxml')

In [38]:
l = []
for EachPart in soup.select('a[href*="/Inmate/Details"]'):
    l.append(EachPart.get_text())
    
l[:10]

['REYNA, DESIREE ABIGAIL',
 'MARTINEZ, SERGIO MATHEW',
 'SANCHEZ, CHRISTIAN',
 'STATES, TRACEE ERIN',
 'CUENCA, NICHOLAS ANTHONY',
 'ECHEVESTE, JOSE LEONARDO-RIZO',
 'HERNANDEZ, JOSE ALEJANDRO',
 'REYES, ISMAEL',
 'NEIGHBORS, MARK WAYNE',
 'MARES, DANIEL ARNOLD']

## others

In [17]:
import requests
from selenium import webdriver
import time

In [20]:
browser = webdriver.Chrome()

In [23]:
browser.get("http://www.interopweb.com/habersham/")

In [27]:
f = open('test1.txt', 'w' )
f.write(browser.page_source)
f.close()

In [28]:
elem = browser.find_element_by_css_selector('td[onclick*="PBN"]')
elem.click()
time.sleep(0.2)

In [34]:
#Soup(browser.page_source, 'lxml')

In [39]:
elem = browser.find_element_by_xpath("//*")
#print (elem.get_attribute("outerHTML"))